{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ frog['name'] }}'s history{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if history %}
    {%for b in history %}
    <article>
        <p>{{ b['battle']['timestamp'] }}</p>
        {% if b['battle']['winner_id'] == frog['id'] %}
            <p>Won against {{ b['evil_frog']['name'] }}</p>
        {% else %}
            <p>Lost against {{ b['evil_frog']['name'] }}</p>
        {% endif %}
    <div>
        <p>{{ b['evil_frog']['name'] }}</p>
        <img src="{{ b['evil_frog']['img'] }}" alt="{{ b['evil_frog']['name'] }}"/>
    </div>
    </article>
    {% endfor %}
    {% else %}
    <p>{{ frog['name'] }} hasn't battled yet</p>
    {% endif %}
{% endblock %}