{% extends 'base.html' %}

{% block header %}
{% if g.user %}
<a class="action" href="{{ url_for('frogbook.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
    {%if g.user %}
    <h1>You have battled {{ g.user['battled'] }} frogs</h1>
    {% else %}
    <h1>Please <a href="{{ url_for('auth.login') }}">login</a> to battle frogs </h1>
    {% endif %}

    {% for frog in frogs %}
    <article>
    <p>{{ frog["name"] }}</p>
    <p>Elo: {{ frog["elo"] }}</p>
    <img src="{{ frog["img"] }}" alt="{{ frog["name"] }}"/>
    {% if g.user['id'] == frog['user_id'] %}

    <a href="{{ url_for('frogbook.delete', id=frog['id'], user_id = g.user['id']) }}">Delete</a>
    {% endif %}
    </article>
    {% endfor %}

{% endblock %}