{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ g.user['username'] }}'s history{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if history %}
    {%for b in history %}
        <article>
            <p>{{ b['battle']['timestamp'] }}</p>
            <div>
                <p>{{ b['frog1']['name'] }}</p>
                <img src="{{ b['frog1']['img'] }}" alt="{{ b['frog1']['name'] }}"/>
                {% if b['frog1']['id'] == b['battle']['winner_id'] %}
                <p>Winner!</p>
                {% else %}
                <p>Loser</p>
                {% endif %}
            </div>
            <div>
                <p>{{ b['frog2']['name'] }}</p>
                <img src="{{ b['frog2']['img'] }}" alt="{{ b['frog2']['name'] }}"/>
                {% if b['frog2']['id'] == b['battle']['winner_id'] %}
                <p>Winner!</p>
                {% else %}
                <p>Loser</p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    {% else %}
    <p>You haven't battled yet</p>
    {% endif %}
{% endblock %}