{% extends 'base.html' %}

{% block header %}
     <h1>{% block title %}Your frogs{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('frogbook.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
    {%if g.user %}
    <h1>You have battled {{ g.user['battled'] }} frogs</h1>
    {% else %}
    <h1>Please <a href="{{ url_for('auth.login') }}">login</a> to battle frogs </h1>
    {% endif %}

    {% if not frogs %}
    <h1>You have no frogs yet</h1>
    {% endif %}

    {% for frog in frogs %}
    <article>
    <p>{{ frog["name"] }}</p>
    <p>Elo: {{ frog["elo"] }}</p>
    <img src="{{ frog["img"] }}" alt="{{ frog["name"] }}"/>
        <form method="post" action="{{ url_for('frogbook.delete', id=frog['id']) }}">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
    </article>

    {% endfor %}

{% endblock %}